.chat-container {
    border: #ccc solid 1px;
}

.message {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 15px 15px;
}

.message.active {
    color: #11c;
    background-color: rgba(72, 255, 185, 0.5);
}

.message.inactive {
    color: #ccc;
    background-color: rgba(188, 201, 196, 0.5);
}