<style>
    p {
        color: #444;
    }
</style>
<script>
    import Chart from "./lib/Chart.svelte";

    let count = 0;

    const changeCount = (ev) => count++;
</script>

<h1>Hello Svelte {new Date().toDateString()}</h1>
<p on:click={changeCount}>{count} Description ... </p>

<Chart />
