<script>
    import { onMount } from "svelte";
    import WSClient from "./wsclient";

    import Message from "./Message.svelte";

    let messages = [
        {
            id: 1,
            text: "Message1"
        },
        {
            id: 2,
            text: "Message2"
        },
        {
            id: 3,
            text: "Message3"
        }
    ];

    $: count = messages.length;
    let messageText = "";

    const sendMessage = () => {
        client.send(messageText);
    }

    let client = null;

    onMount(() => {
        client = new WSClient();
        client.onMessage = (message) => {
            messages.push({
                id: messages.length + 1,
                text: message
            });
            messages = messages;
        }
    })
</script>

<style>
    div {
        border: solid blue 1px
    }
</style>

<div class="chart">
    <!-- {JSON.stringify(messages)} -->
    <!-- {#each messages as message(message.id)} -->
    {#each messages as message}
        <Message message={message.text} color={message.id % 2 == 1 ? "red": "blue"} />
    {/each}
    <h3>Total: {count} messages</h3>
    <h2>{messageText}</h2>
    <input type="text" bind:value={messageText}/>
    <button on:click={sendMessage}>Send</button>
</div>