<style>
</style>

<script>
    export let message = "Temp Message"; 
    export let color = "red";
</script>

{#if color === "red" }
    --------uigkuhkh
{:else}
  +++++
{/if}
<div style="color: {color}">{message}</div>