* {
    padding: 0;
    margin: 0;
}

#root {
    width: 500px;
    margin: 30px auto;
    border: solid #ccc 2px;
}

.table-row {
    display: flex;
    flex-wrap: nowrap;
    border: solid #eee 1px;
}

.table-row>div {
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}